<div class="top-section">
    <div class="profile-image">
        <img src="images/an_photo4.jpg" alt="Anastasia">
    </div>
    <h3 class="profile-title">Aнастасия Кондратьева</h3>
    <p class="profile-description">Художник</p>
</div> <!-- top-section -->
<nav class="main-navigation">
    <ul class="navigation">
        <li><a ng-href="{{link}}#top"><i class="fa fa-globe"></i>Привет</a></li>
        <li><a ng-href="{{link}}#about"><i class="fa fa-pencil"></i>Обо мне</a></li>
        <li><a ng-href="{{link}}#projects"><i class="fa fa-paperclip"></i>Мои работы</a></li>
        <li><a ng-href="{{link}}#contact"><i class="fa fa-link"></i>Связаться со мной</a></li>
    </ul>
</nav> 

    
